<div class="container">
  <div class="table-responsive">
    <div class="table-wrapper">
      <div class="table-title">
        <div class="row">
          <div class="col-sm-6">
            <h3>Gerenciar <b>Veículos</b></h3>
          </div>
          <div class="col-sm-6">
            <a class="btn btn-success" (click)="showAddVeiculoModal()">
              <span>Adicionar</span>
            </a>
          </div>
        </div>
      </div>
      <table class="table table-hover">
        <thead>
          <tr>
            <td>Código</td>
            <td>Placa</td>
            <td>Data de Aquisição</td>
            <td>Valor de Aquisição</td>
            <td>Modelo</td>
            <td>Marca</td>
            <td></td>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let veiculo of veiculos">
            <td>{{ veiculo.codigo }}</td>
            <td>{{ veiculo.placa | mask: plateMask }}</td>
            <td>{{ veiculo.dataAquisicao | date: "dd/MM/yyyy" }}</td>
            <td>{{ veiculo.valorAquisicao }}</td>
            <td>{{ veiculo.veiculoModelo.nome }}</td>
            <td>{{ veiculo.veiculoModelo.veiculoMarca.nome }}</td>
            <td>
              <ul class="list-inline">
                <li class="list-inline-item">
                  <button class="btn btn-primary btn-sm" (click)="showViewVeiculoModal(veiculo)" type="button">
                    <i class="fa fa-table"></i>
                  </button>
                </li>
                <li class="list-inline-item">
                  <button class="btn btn-success btn-sm" (click)="showUpdateVeiculoModal(veiculo)" type="button">
                    <i class="fa fa-edit"></i>
                  </button>
                </li>
                <li class="list-inline-item">
                  <button class="btn btn-danger btn-sm" (click)="showRemoveVeiculoModal(veiculo)" type="button">
                    <i class="fa fa-trash"></i>
                  </button>
                </li>
              </ul>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
