<div class="modal-header">
    <h4 class="modal-title pull-left">History Vehicle {{ vehicle.plate | mask: plateMask}}</h4>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-12">
            <table class="table">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Event</th>
                        <th>Data</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let storedEvent of storedEvents">
                        <td>{{ storedEvent.date }}</td>
                        <td>{{ storedEvent.type }}</td>
                        <td>{{ storedEvent.data }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="btn-toolbar" role="toolbar">
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-danger" (click)="close()">Close</button>
        </div>
    </div>
</div>